html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', cursive;
}
/* Makes sure the content takes up all of the screen, there is no padding or margin, and standardizes font */

/*! Begin Navbar */
.navbar {
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 1; /* Makes sure that the nav bar is in the front of all elements so it does not disappear */
}
    /* Links inside the navbar */
    .navbar a { /* Puts styling on the text on the navbar so they do not look like bare links */
        float: left;
        display: block; /* make the blocks align to the left */
        color: #FFF; /* text color is white */
        text-align: center; /* centers text inside block */
        padding: 14px 16px;
        text-decoration: none; /* takes off underline */
    }
        /* Change background on mouse-over */
        .navbar a:hover {
            background: #333;
            color: #FFF;
        }

.content {
    padding-top: 50px; /* Add a top margin to avoid content overlay */
    padding-bottom: 50px; /* preventing content overlay at the bottom */
    margin: 0px 20% 0px 20%; /* top right bottom left, adding margin clockwise */
    font-size: 20px; /* font size of all text is 20px */
}

/*! Home */
#Home {
    height: 100%; /* takes up all of screen */
    width: 100%;
    color: #FFF;
    background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.85)), url("https://www.visitnorman.com/uploads/The-University-of-Oklahoma/Campus/ou_lib.jpg") no-repeat center center fixed;
    /* adds a grey to white gradient with the image behind it, making it easier to read the font in front of the originally bright photo */
    background-size: cover; /* resizes picture so all of it fits onto screen */
    z-index: 0; /* puts home behind navbar */
    text-align: center;
    display: flex; /* aligns text in the center of the page relative to height and width */
    align-items: center; 
    justify-content: center; /* centers div that contains text*/
    font-size: 50px;
    text-shadow: 5px 5px 10px black;
}

.title {
    text-align: center; /* all headings such as about, skill set etc are centered */
}
.separator {
    font-size: 30px; /* differentiate between heading and subtitle  */
}

.subtitle {
    text-align: center; 
}

#About {
    color: black; /* text color */
    margin-bottom: 200px; /* prevents overlay with the next section */
}
#trans0 { /* first transition */
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") no-repeat center center fixed;
    background-size: cover;
}

.center0 { /* text in the transition */
    height: 300px;
    display: flex; /* centers text */
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 5px 5px 10px black;
}

img { /* sizes headshot */
    height: 80%;
    width: 80%;
}

.left { /* left aligns heashot */
    width: 50%;
    float: left;
}

.right { /* puts the next next div (created to make space between headshot and text) right next to the headhsot*/
    float: left;
}

.button { /* resume button looking background */
    background: #900;
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    float: left;
    text-align: center;
    width: 40%;
}

.div1 { /* centers the skill sket button looking background */
    display: flex;
    justify-content: center;
}

#Projects {
    color: white; /* text color */
    background: #181f25; 
}

#trans1 { /* second transition image */
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.75)), url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80") no-repeat center center fixed;
    background-size: cover; /* covers the entire specified space */
}

.center1 { /* formats text in transition */
    height: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 5px 5px 10px black;
}

.img { /* image in cards */
    width: 100%;
}

#card0 {
    
    height: 400px;
    width: 250px;
    background: #900;
    border-radius: 10px;
    text-align: center;
    transition: all 1s; /* takes 1 second for hover transition to happen */
    margin: 10px;
}

    #card0:hover {
        transform: scale(1.2); /* enlarges card on hover */
        box-shadow: 3px 3px 0px 0px #000;
    }

.projects { /* centers all content */
    display: flex;
    justify-content: center;
}

#SkillSets {
    color: black; /* font color */
   
}

h2, h3, p { /* automatically comes with some padding, so that is removed  */
    padding: 0;
    margin: 0;
}

h3 { /* makes page headings crimson  */
    color: #900;
}

.subtitle { /*  makes subtitles grey */
    color: grey;
}

#End {
    background: black;
    color: #FFF; /* white font */
    padding: 30px;
    text-align: center;
}
